*{
    margin: 0;
    padding: 0;
}
/* body{
    /* box-sizing: border-box; */

h1{
    text-align: center;
    background-color: #759EB8;
    color: white;
    padding: 20px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
   
}
.choice{
    width: 165px;
    height: 165px;
    margin-top: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: aqua; */   
}
.choice:hover{
    background-color: #759EB8;
    cursor: pointer;

}
.scoreboard{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    gap: 4rem;
    font-size: 30px;
}
#myscore, #compscore{
    font-size: 60px;

}
.msg-cont{
    display: flex;
    align-items: center;
    justify-content: center;

}
#msg{
    text-align: center;
    margin-top: 3rem;
    background-color: #7392B7;
    display: inline;
    border-radius: 20px;
    padding: 20px;
    color: white;

}
.red{
    background-color: red;
}
.green{
    background-color: green;
}